@{
    ViewData["Title"] = "Home";
}
  <h2>Admin</h2>
<hr />
<ul>
    <li>
        <a href="~/blogmanagement">Blog Management</a>
    </li>
    <li>
        <a href="~/ContentSnippetManagement">Content Snippet Management</a>
    </li>
    <li>
        <a href="~/EmailSubscriptionManagement">Email Subscription Management</a>
    </li>

    <li>
        <a href="~/linkmanagement">Link Management</a>
    </li>
    <li>
        <a href="~/sitefilesmanagement">Site File Management</a>
    </li>

   
    
  
</ul>