@{
    ViewData["Title"] = "Home";
}
 
@{ await Html.RenderPartialAsync("_LoginPartial"); }
<ul>
    <li>
        <a href="~/blogmanagement">Blog Management</a>
    </li>
    <li>
        <a href="~/sitefilesmanagement">Site File Management</a>
    </li>

    <li>
        <a href="~/linkmanagement">Link Management</a>
    </li>
    <li>
        <a href="~/ContentSnippetManagement">Content Snippet Management</a>
    </li>
    
    <li>
        <a href="~/EmailSubscriptionManagement">Email Subscription Management</a>
    </li>
</ul>