@{
    ViewData["Title"] = "Home";
}
 
@{ await Html.RenderPartialAsync("_LoginPartial"); }
<ul>
    <li>
        <a href="~/blogmanagement">Blog Management</a>
    </li>
    <li>
    <a href="~/sitefilesmanagement">Site File Management</a>
</li>
</ul>