@model IntoTravel.Web.Models.BlogManagementEntryModel
@{
    ViewData["Title"] = "Home";
}
 <p>Home @User.Identity.Name</p>


<form asp-controller="BlogManagement" asp-action="Create" method="post" class="form-horizontal">
    
    @{ await Html.RenderPartialAsync("_blogEntry", Model); }


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Create</button>
        </div>
    </div>

</form>