@model IntoTravel.Web.Models.BlogManagementListModel
@{
    ViewData["Title"] = "Blog Entries";
}
 
<a href="~/blogmanagement/create">Create new</a>

@if (Model != null && Model.Items.Count() > 0)
{
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Create Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
        <tr>
            <td>
                @item.Title
            </td>
            <td>
                @item.CreateDate
            </td>
            <td>
                <a href="~/blogmanagement/edit?blogentryid=@item.BlogEntryId">Edit</a>

            </td>
        </tr>
        }
    </tbody>
</table>
}