@{
    ViewData["Title"] = "Home";
}
 
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Create Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>

            </td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>