@model IntoTravel.Web.Models.BlogEntrytDisplay

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <h1>@Model.Title</h1>
         <i>@Model.FriendlyDateDisplay </i>
                <hr />
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</article>
<hr />
