
.site-heading  h1 {
    text-shadow: 3px 3px #000;
}

.navbar-brand, .nav-item, .subheading {
    text-shadow: 1px 1px #000;
}

.post-preview > a > .post-title {
    font-size: 32px;
}

li a {text-decoration: underline;}

a.nav-link {
    text-decoration: none;
}

h3 {padding-top:15px;}